* {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
	}

  #wrapper{
    width: 970px;
    height: 675px;
    margin: 0px auto;
    padding: 10px;
    background-color: navy;
    display: inline-block;
  }

#title{
  width: inherit;
  height: 75px;
  margin-bottom: 15px;
  background-color: red;
  display: block;
}

#navigation{
  width: 150px;
  height: 150px;
  margin-right: 15px;
  background-color: teal;
  display: inline-block;
  vertical-align: top;
}

#information{
  width: 800px;
  height: 500px;
  margin-bottom: 15px;
  background-color: black;
  display: inline-block;
  vertical-align: top;
}

#more_information{
  width: inherit;
  height: 50px;
  background-color: gray;
  display: block;
}

h1{
  font-size: 14;
  font-style: normal;
  color: green;
  
}
