.wrapper{
  width: 960px;
  height: 800px;
}

.header{
  background-color: #f7f7f7;
  width: 940px;
  height: 45px;
  padding: 15px;
}

.float-right {
  float: right;
  margin-top: 10px;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
}

.inline {
  display: inline;
  font-family: cursive;
}

.container {
  width: 940px;
  height: 800px;
  background: radial-gradient(#6f5964 5%, #69535d 15%, #1f0e13 80%);
  padding: 15px;
}

.portrait{
  width: 430px;
  height: 225px;
  background-color: #c0c0c0;
  margin-right: 10px;
  display: inline-block;
  padding: 5px;
  vertical-align: top;
}

.about{
  width: 475px;
  height: 50px;
  margin-left: 10px;
  background: radial-gradient(#acabb0 10%, #878593 80%, #b0b0b4 30%, #878593 25%);

  display: inline-block;
  vertical-align: top
}

.about h3{
  margin: 0;
  margin-top: 15px;
  margin-left: 10px;
  margin-bottom: 8px;
  color: #fdfdfd;
  font-family: sans-serif;
}

.introduction {
  width: inherit;
  background-color: #fdfdfd;
  font-family: sans-serif;
  padding-bottom: 25px;
  font-size: 15px;
  vertical-align: top;

}

.introduction p{
  margin-top: 0;
  margin-left: 10px;
}

.introduction a{
  margin-left: 10px;
}

.maincontent{
  width:940px;
  height: 500px;
  outline: 2px dotted red;
  display: inline;
}

.lamode{

}

.lamode h3{
  background-color:rgba(0, 0, 0, 0.5);
}
