<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <title>Layouts</title>
    <link rel="stylesheet" href="layouts.css">
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <h1>Header</h1>
        <h3>Subtitle</h3>
      </div>
      <div id="navbar">
        <ul>
          <a href="#">Home</a>
          <a href="#">About US</a>
          <a href="#">Contact Us</a>
          <a href="#">Videos</a>
          <a href="#">Pricing</a>
          <a href="#">Something</a>
          <a href="#">Something More</a>
          <a href="#">Something Even More</a>
        </ul>
      </div>
      <div id="pageBody">
        <div class="column-1">
          <h2> Taco Taco</h2>
          <p>Lorem ipsum dolor sit amet, platea ipsum sollicitudin duis augue, tincidunt nec porta erat urna pulvinar, fusce vestibulum odio lorem, leo eget. Id sit ac dis duis inceptos, orci nulla lectus bibendum ut sem. Rutrum dictumst id odio ut odio ut, fringilla leo ipsum, ultrices mi vel magnis est mi. Enim tortor elit, ac pellentesque, sed maecenas vulputate vulputate. Dignissim amet in, nulla sed hac praesent eget, proin vestibulum, dignissim sed iaculis, wisi urna lectus donec lobortis a. Neque lobortis ligula sapien cupidatat sapien.</p>
        </div>
        <div class="column-2">
          <h2> Yo Yo YO</h2>
          <p>Leo aliquet magnis vestibulum eu, venenatis lectus mi platea, etiam at vel qui, nec id feugiat quis. Magna lectus odio lorem, ipsum porta sit montes, odio ut vel lacinia, a fusce nunc turpis est. Egestas urna integer praesent, quisque nulla non ornare libero, in adipiscing massa quis litora, tincidunt rhoncus nulla ut sapien. Netus sem eget per, id magna metus montes dictum, proin risus vehicula cum et. Magna pede risus malesuada vitae, suspendisse mus proin sem donec, orci hendrerit adipisci arcu.</p>
        </div>
        <div class="column-3">
          <h2> What am I Typing????</h2>
          <p>Leo aliquet magnis vestibulum eu, venenatis lectus mi platea, etiam at vel qui, nec id feugiat quis. Magna lectus odio lorem, ipsum porta sit montes, odio ut vel lacinia, a fusce nunc turpis est. Egestas urna integer praesent, quisque nulla non ornare libero, in adipiscing massa quis litora, tincidunt rhoncus nulla ut sapien. Netus sem eget per, id magna metus montes dictum, proin risus vehicula cum et. Magna pede risus malesuada vitae, suspendisse mus proin sem donec, orci hendrerit adipisci arcu.</p>
        </div>
        <div class="column-4">
          <h2> kitty kitty </h2>
          <p>Leo aliquet magnis vestibulum eu, venenatis lectus mi platea, etiam at vel qui, nec id feugiat quis. Magna lectus odio lorem, ipsum porta sit montes, odio ut vel lacinia, a fusce nunc turpis est. Egestas urna integer praesent, quisque nulla non ornare libero, in adipiscing massa quis litora, tincidunt rhoncus nulla ut sapien. Netus sem eget per, id magna metus montes dictum, proin risus vehicula cum et. Magna pede risus malesuada vitae, suspendisse mus proin sem donec, orci hendrerit adipisci arcu.</p>
        </div>
      </div>
    </div>
  </body>
</html>
